astroid==3.3.8
dill==0.3.9
greenlet==3.1.1
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
psutil==6.1.1
pylint==3.3.3
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
pytest==8.3.4
PyYAML==6.0.2
shiboken6==6.8.1
SQLAlchemy==2.0.38
tomlkit==0.13.2
typing_extensions==4.12.2
